.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex: 1;
}

.icon-button:hover {
  transform: scale(1);
}
